Repository flasco/book-story: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": "eslint",
  "**/*.scss": "stylelint"
}

fix: 修复样式问题
  package.json
  src/pages/shelf/components/book-list/index.m.scss
Due: stylelint

fix: 修复
  .eslintrc.js
  package.json
  src/defination/scss.d.ts
  src/main.tsx
  src/utils/index.ts
  src/utils/request.ts
Due: eslint

fix: upgrade
  webpack/yarn.lock
Due: none

fix: use webpack-dev-server
  package.json
  src/utils/request.ts
  webpack/config/webpack.base.js
  webpack/config/webpack.dll.js
  webpack/config/webpack.prod.js
  webpack/package.json
  webpack/scripts/build-render.js
  webpack/scripts/dev-koa.js
  webpack/scripts/dev-webpack.js
  webpack/scripts/shell.js
  webpack/yarn.lock
Due: eslint

fix: update react-17
  .eslintrc.js
  package.json
  webpack/config/webpack.base.js
  webpack/yarn.lock
  yarn.lock
Due: eslint

fix: update
  src/components/custom-badge/index.tsx
  src/components/virtual-list/index.tsx
  src/main.tsx
  src/pages/detail/index.tsx
  src/pages/origin/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/components/nav-block/components/progress/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/index.tsx
  src/pages/search/index.tsx
  src/pages/shelf/components/book-list/index.tsx
  src/pages/shelf/index.tsx
Due: eslint

fix: 抛弃获取异常的章节
  src/cache/chapter.ts
Due: eslint

fix: update
  package.json
  yarn.lock
Due: none

fix: use Map instead of object
  src/cache/chapter.ts
  src/storage/book.ts
Due: eslint

fix: use dart-sass
  .yarnrc
  webpack/package.json
  webpack/yarn.lock
Due: none

fix: 测试rxjs
  .eslintrc.js
  package.json
  src/hooks/index.ts
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/hook/use-drag/index.ts
  yarn.lock
Due: eslint

fix: 减少并发量
  src/pages/read/hook/use-reader/index.ts
Due: eslint

fix: use international
  src/config/index.ts
Due: eslint

fix: 用 rxjs 分离 clicker & mover 逻辑, 增强维护性
  src/pages/read/hook/use-drag/index.ts
Due: eslint

fix: 小优化
  src/components/touchable/index.m.scss
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/hook/use-drag/index.ts
Due: eslint, stylelint

fix: 调整结构顺序
  src/pages/read/hook/use-drag/index.ts
Due: eslint

fix: 针对prefetch重复请求进行优化
  src/pages/read/api/index.ts
  src/pages/read/hook/use-reader/index.ts
  src/utils/request.ts
Due: eslint

fix: 优化
  src/api/index.ts
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/hook/use-drag/index.ts
Due: eslint

fix: 替换touch事件注册点
  src/pages/read/components/new-reader/index.tsx
Due: eslint

fix: 修复bug
  src/api/index.ts
Due: eslint

fix: update
  public/index-template.ejs
  webpack/config/webpack.base.js
  webpack/config/webpack.dll.js
  webpack/package.json
  webpack/scripts/dev-webpack.js
  webpack/yarn.lock
Due: eslint

fix: 去掉多余代码
  src/pages/read/hook/use-drag/index.ts
Due: eslint

fix: 优化
  package.json
  webpack/config/webpack.prod.js
  webpack/package.json
  webpack/scripts/build-render.js
  webpack/scripts/util.js
  webpack/yarn.lock
Due: eslint

fix: 优化
  webpack/config/webpack.prod.js
Due: eslint

fix: 修改meta
  public/index-template.ejs
Due: none

fix: update axios
  package.json
  yarn.lock
Due: none

fix: change
  public/index-template.ejs
Due: none

fix: 修改icon
  public/index-template.ejs
Due: none

fix: change
  public/index-template.ejs
  public/manifest.json
  public/static/app-iOS.png
Due: none

fix: change
  public/static/app-iOS.png
Due: none

fix: change
  public/index-template.ejs
  public/static/app-iOS.jpg
  public/static/app-iOS.png
Due: none

fix: 切换ip
  src/config/index.ts
Due: eslint

fix: 优化,修复报错
  src/components/image-show/index.tsx
Due: eslint

feat: 添加keepAlive, 模拟 app 使用体验
  package.json
  src/pages/read/components/nav-block/index.tsx
  src/router.tsx
  yarn.lock
Due: eslint

docs: update readme
  readme.md
Due: none

feat: 添加书籍时支持展示当前书源
  readme.md
  src/pages/detail/index.m.scss
  src/pages/detail/index.tsx
Due: eslint, stylelint

feat: 支持手动更新
  src/pages/shelf/components/drawer/index.tsx
  webpack/scripts/dev-webpack.js
Due: eslint
