Repository flasco/book-story: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

fix: use patch-package
  package.json
  patches/antd-mobile-v5+5.0.0-beta.21.patch
  yarn.lock
Due: none

fix: 修改兼容目标
  vite.config.js
Due: eslint

fix: 修复一些问题
  src/layout/container/index.module.scss
  src/pages/shelf/components/book-list/index.tsx
Due: eslint, stylelint

fix: 修复一些问题
  src/initial.ts
  src/pages/shelf/components/book-list/index.module.scss
Due: eslint, stylelint

fix: 修复touchAction的问题
  src/layout/container/index.module.scss
  src/pages/shelf/components/book-list/index.module.scss
  src/pages/shelf/components/book-list/index.tsx
Due: eslint, stylelint

fix: delete useless dep
  package.json
  yarn.lock
Due: none

fix: 修复动画闪烁的问题
  patches/antd-mobile-v5+5.0.0-beta.21.patch
  patches/antd-mobile-v5+5.0.0-beta.26.patch
  src/pages/read/components/nav-block/index.tsx
  yarn.lock
Due: eslint

fix: update antd-mobile
  package.json
  patches/antd-mobile-v5+5.0.0-rc.4.patch
  src/pages/search/index.tsx
  yarn.lock
Due: eslint

fix: update view & support mask dissipationDuration
  patches/antd-mobile-v5+5.0.0-rc.4.patch
  src/components/drawer/index.tsx
  yarn.lock
Due: eslint

fix: update preact & lock cache-route version
  package.json
  yarn.lock
Due: none

fix: use const enum instead of enum
  src/constants/index.ts
  src/constants/site.ts
  src/storage/base.ts
Due: eslint

fix: 换回react
  README.md
  package.json
  src/components/drawer/index.tsx
  src/components/image-show/index.tsx
  src/components/touchable/index.tsx
  src/components/virtual-list/index.tsx
  src/hooks/index.ts
  src/hooks/use-book/index.tsx
  src/hooks/use-switch/index.ts
  src/hooks/use-theme/index.tsx
  src/layout/container/index.tsx
  src/layout/theme-wrapper/index.tsx
  src/main.tsx
  src/pages/detail/index.tsx
  src/pages/origin/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/index.tsx
  src/pages/read/components/nav-block/components/progress/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/context/index.tsx
  src/pages/read/hook/use-drag/index.ts
  src/pages/read/hook/use-reader/index.ts
  src/pages/read/index.tsx
  src/pages/search/index.tsx
  src/pages/shelf/components/book-list/index.tsx
  src/pages/shelf/components/drawer/index.tsx
  src/pages/shelf/index.tsx
  src/pages/shelf/use-noticed.ts
  src/utils/index.ts
  vite.config.js
  yarn.lock
Due: eslint

fix: update type
  package.json
  yarn.lock
Due: none

chore: add version output tips
  scripts/utils.js
Due: eslint

fix: update deps
  patches/antd-mobile-v5+5.0.0-rc.12.patch
  yarn.lock
Due: none

fix: 兼容安全展示区域
  src/pages/shelf/components/drawer/index.module.scss
Due: stylelint

fix: 优化列表滚动表现
  src/pages/shelf/components/book-list/index.module.scss
  src/pages/shelf/components/book-list/index.tsx
  src/pages/shelf/index.tsx
Due: eslint, stylelint

fix: 修复跳页太快导致元素清理异常的问题
  src/pages/read/components/nav-block/index.tsx
Due: eslint

fix: update
  package.json
  yarn.lock
Due: none

chore: delete useless dep
  package.json
  scripts/utils.js
  yarn.lock
Due: eslint

chore: 优化目录结构
  src/initial.ts
  src/pages/read/hook/use-reader/index.ts
  src/storage/base.ts
  src/third-party/event.ts
Due: eslint

fix: 去除legacy模式, 因为css var的最低要求已经超过legacy了
  vite.config.js
Due: eslint

fix: 优化代码
  src/cache/list.ts
Due: eslint

fix: stash
  package.json
  src/cache/books.ts
  src/hooks/use-book/index.tsx
  yarn.lock
Due: eslint

fix: stash
  src/core/index.ts
Due: eslint

fix: 语义化
  src/cache/books.ts
  src/hooks/use-book/index.tsx
Due: eslint

fix: use pnpm, update deps
  package.json
  patches/antd-mobile+^5.0.0-rc.27.patch
  patches/antd-mobile-v5+5.0.0-rc.12.patch
  pnpm-lock.yaml
  src/components/drawer/index.tsx
  src/layout/container/index.tsx
  src/main.tsx
  src/pages/detail/index.tsx
  src/pages/read/components/nav-block/components/progress/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/hook/use-drag/index.ts
  src/pages/read/hook/use-reader/index.ts
  src/pages/search/index.tsx
  src/pages/shelf/components/book-list/index.tsx
  src/pages/shelf/components/drawer/index.tsx
  src/pages/shelf/use-noticed.ts
  src/utils/index.ts
  vite.config.js
  yarn.lock
Due: eslint

feat: support new structure
  src/cache/record.ts
  src/definition/index.ts
  src/pages/read/hook/use-reader/index.ts
  src/pages/shelf/components/book-list/index.module.scss
  src/storage/book.ts
Due: eslint, stylelint

fix: update deps
  .eslintrc.js
  package.json
  patches/antd-mobile+^5.0.0-rc.27.patch
  pnpm-lock.yaml
  src/components/drawer/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/index.tsx
  src/pages/search/index.tsx
  src/pages/shelf/components/drawer/index.tsx
  src/pages/shelf/index.tsx
Due: eslint

fix: 优化组件使用方式, 优化样式
  package.json
  patches/antd-mobile+^5.0.0-rc.27.patch
  pnpm-lock.yaml
  src/components/drawer/index.module.scss
  src/components/drawer/index.tsx
  src/components/image-show/index.tsx
  src/components/touchable/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/index.tsx
  src/pages/read/components/nav-block/index.module.scss
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/components/new-reader/index.tsx
  src/pages/shelf/components/book-list/index.module.scss
  src/pages/shelf/components/drawer/index.tsx
Due: eslint, stylelint

fix: 修复 bug
  src/components/drawer/index.tsx
  src/pages/shelf/components/book-list/index.module.scss
Due: eslint, stylelint

fix: 优化
  package.json
  pnpm-lock.yaml
  src/pages/shelf/components/book-list/index.module.scss
  src/pages/shelf/components/book-list/index.tsx
  src/pages/shelf/index.module.scss
Due: eslint, stylelint

fix: 替换可用的 api
  src/config/index.ts
Due: eslint

fix: update
  package.json
  pnpm-lock.yaml
Due: none

fix: change
  .eslintignore
  package.json
  scripts/ph-page.js
  scripts/ph-page.mjs
  src/pages/read/components/nav-block/components/progress/index.module.scss
  src/pages/read/components/nav-block/components/progress/index.tsx
  src/pages/read/components/nav-block/index.module.scss
  vite.config.js
Due: eslint, stylelint

v0.0.4
  package.json
Due: none

fix: change
  pnpm-lock.yaml
  scripts/ph-page.js
  vite.config.js
Due: eslint

Path conditions:
  eslint: any of: **/*.{js,ts,tsx}
  stylelint: any of: **/*.scss
