Repository flasco/book-story: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": "eslint",
  "**/*.scss": "stylelint"
}

v0.0.21
  package.json
Due: none

chore: 修改 script
  package.json
Due: none

fix: 优化变量存放
  package.json
  pnpm-lock.yaml
  src/pages/read/hook/use-drag/index.ts
Due: eslint

fix: remove preventDefault
  src/pages/read/components/nav-block/index.tsx
  src/pages/shelf/components/drawer/index.tsx
Due: eslint

feat: use rxjs
  package.json
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/hook/use-drag/index.ts
Due: eslint

fix: remove ramda
  src/layout/keep-aliver/data.ts
  src/layout/keep-aliver/index.tsx
Due: eslint

fix: 优化依赖
  src/layout/keep-aliver/data.ts
Due: eslint

fix: fix typing
  src/utils/request.ts
Due: eslint

fix: add module scss typing
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/definition/scss.d.ts
  tsconfig.json
Due: eslint

fix: 优化边界逻辑处理
  src/pages/read/hook/use-drag/index.ts
Due: eslint

fix: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: typo fix
  src/config/index.ts
Due: eslint

chore: add cSpell settings
  .vscode/settings.json
Due: none

v0.0.22
  package.json
Due: none

fix: 修复翻页临界的问题
  src/pages/read/hook/use-drag/index.ts
Due: eslint

v0.0.23
  package.json
Due: none

fix: 修复交互异常的问题
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/hook/use-drag/index.ts
Due: eslint

v0.0.24
  package.json
Due: none

fix: update deps
  pnpm-lock.yaml
Due: none

feat: support multi page source
  .eslintrc.js
  src/cache/list.ts
  src/cache/record.ts
  src/definition/index.ts
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/index.tsx
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/hook/use-drag/index.ts
  src/pages/read/hook/use-reader/index.ts
  src/pages/shelf/components/book-list/index.module.scss
Due: eslint, stylelint

v0.0.25
  package.json
Due: none

fix: remove useless deps
  package.json
Due: none

feat: support back last position when in multi page mode
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/hook/use-drag/index.ts
  src/pages/read/hook/use-reader/index.ts
Due: eslint

v0.0.26
  package.json
Due: none

fix: add multi-page suffix
  pnpm-lock.yaml
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/hook/use-reader/index.ts
Due: eslint

v0.0.27
  package.json
Due: none

fix: 修复报错时翻页异常的问题
  src/pages/read/hook/use-reader/index.ts
Due: eslint

v0.0.28
  package.json
Due: none

fix: 修复翻页 bug
  src/pages/read/hook/use-reader/index.ts
Due: eslint

v0.0.29
  package.json
Due: none

v0.0.30
  package.json
Due: none

fix: update to vite@3
  .npmrc
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: eslint
