Repository flasco/book-story: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": "eslint",
  "**/*.scss": "stylelint"
}

fix: 按需加载样式
  src/main.tsx
  vite.config.js
Due: eslint

fix: update
  package.json
  yarn.lock
Due: none

fix: update
  .browserslistrc
  .yarnrc
  docs/antd-mobile-upgrade.md
  docs/todo.md
  package.json
  postcss.config.js
  vite.config.js
  yarn.lock
Due: eslint

fix: update
  index.html
Due: none

fix: 修复样式 & 错误的逻辑
  src/pages/detail/index.module.scss
  src/pages/read/components/nav-block/components/catalog-drawer/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/shelf/index.tsx
  src/pages/shelf/use-noticed.ts
Due: eslint, stylelint

fix: 修复样式 & 错误的逻辑
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/components/nav-block/components/progress/index.module.scss
  src/pages/read/components/nav-block/components/progress/index.tsx
  src/pages/shelf/components/book-list/index.module.scss
Due: eslint, stylelint

fix: 修复无法实时定位目录的问题
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
Due: eslint

fix: 补上随机version_tag
  vite.config.js
Due: eslint

fix: update
  index.html
  package.json
  yarn.lock
Due: none

fix: 简化目录结构
  .lintstagedrc
  package.json
  public/index-template.ejs
  yarn.lock
Due: none

fix: 升级
  package.json
  yarn.lock
Due: none

fix: husky update
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
  yarn.lock
Due: none

fix: 批量去除无用代码
  .eslintrc.js
  readme.md
  src/components/custom-badge/index.tsx
  src/components/drawer/index.tsx
  src/components/image-show/index.tsx
  src/components/touchable/index.tsx
  src/components/virtual-list/index.tsx
  src/layout/theme-wrapper/index.tsx
  src/main.tsx
  src/pages/detail/index.tsx
  src/pages/origin/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/index.tsx
  src/pages/read/components/nav-block/components/progress/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/context/index.tsx
  src/pages/read/index.tsx
  src/pages/search/index.tsx
  src/pages/shelf/components/drawer/index.tsx
  src/pages/shelf/index.tsx
  src/router.tsx
Due: eslint

fix: 修改
  readme.md
  src/pages/read/context/index.tsx
Due: eslint

fix: 修改
  README.md
Due: none

fix: support macros
  package.json
  vite.config.js
  yarn.lock
Due: eslint

fix: 优化output file
  package.json
  src/config/index.ts
  vite.config.js
  yarn.lock
Due: eslint

fix: 添加压缩
  package.json
  vite.config.js
  yarn.lock
Due: eslint

fix: update
  package.json
Due: none

fix: 修复vite build之后无法运行的bug, 优化样式
  src/pages/detail/index.module.scss
  src/router.tsx
Due: eslint, stylelint

fix: clean dist before build
  vite.config.js
Due: eslint

fix: add deyloy scripts
  package.json
  scripts/ph-page.mjs
  yarn.lock
Due: none

fix: 修复样式问题
  src/base.scss
  vite.config.js
Due: eslint, stylelint

fix: 修改样式
  src/pages/shelf/components/book-list/index.module.scss
  src/pages/shelf/components/book-list/index.tsx
Due: eslint, stylelint

feat: 支持重载章节列表
  docs/antd-mobile-upgrade.md
  src/cache/list.ts
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/hook/use-reader/index.ts
Due: eslint

docs: 调整
  docs/antd-mobile-upgrade.md
  docs/todo.md
Due: none

fix: 优化reader drag
  package.json
  src/pages/read/components/new-reader/index.module.scss
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/hook/use-drag/index.ts
Due: eslint, stylelint

docs: 添加todo
  docs/todo.md
Due: none

perf: 优化dev性能
  package.json
  scripts/utils.js
  vite.config.js
  yarn.lock
Due: eslint

perf: 优化dev性能
  package.json
  vite.config.js
  yarn.lock
Due: eslint

docs: 补充todo
  docs/todo.md
Due: none

docs: add todo
  docs/todo.md
Due: none

fix: adjust legacy target
  vite.config.js
Due: eslint

fix: lint fix
  docs/todo.md
  src/cache/chapter.ts
  src/pages/detail/api/index.ts
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/context/index.tsx
  src/pages/read/hook/use-reader/index.ts
  src/storage/book.ts
  src/third-party/queue.ts
  src/utils/request.ts
Due: eslint

feat: use preact to be small
  package.json
  src/components/drawer/index.tsx
  src/components/image-show/index.tsx
  src/components/touchable/index.tsx
  src/components/virtual-list/index.tsx
  src/hooks/index.ts
  src/hooks/use-book/index.tsx
  src/hooks/use-switch/index.ts
  src/hooks/use-theme/index.tsx
  src/layout/container/index.tsx
  src/layout/theme-wrapper/index.tsx
  src/pages/detail/index.tsx
  src/pages/origin/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/index.tsx
  src/pages/read/components/nav-block/components/progress/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/context/index.tsx
  src/pages/read/hook/use-drag/index.ts
  src/pages/read/hook/use-reader/index.ts
  src/pages/read/index.tsx
  src/pages/search/index.tsx
  src/pages/shelf/components/book-list/index.tsx
  src/pages/shelf/components/drawer/index.tsx
  src/pages/shelf/index.tsx
  src/pages/shelf/use-noticed.ts
  src/utils/index.ts
  vite.config.js
  yarn.lock
Due: eslint

fix: 修改react version
  .eslintrc.js
Due: eslint

docs: 修改readme
  README.md
Due: none

fix: supprot hmr
  package.json
  src/main.tsx
  vite.config.js
  yarn.lock
Due: eslint

fix: remove useless plugin
  package.json
  yarn.lock
Due: none

fix: 添加一些有用的内容
  .gitignore
  package.json
  vite.config.js
  yarn.lock
Due: eslint
