Repository flasco/book-story: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

fix: support regExp filter
  src/cache/chapter.ts
  src/cache/record.ts
  src/definition/index.ts
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/hook/use-reader/index.ts
  src/storage/book.ts
  src/utils/text.ts
Due: eslint

fix: 优化正则书写体验
  src/pages/read/components/nav-block/index.tsx
Due: eslint

fix: update to react-router@6
  package.json
  pnpm-lock.yaml
  src/layout/container/index.tsx
  src/pages/detail/index.tsx
  src/pages/origin/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/index.tsx
  src/pages/search/index.tsx
  src/pages/shelf/components/book-list/index.tsx
  src/pages/shelf/components/drawer/index.tsx
  src/pages/shelf/index.tsx
  src/router.tsx
Due: eslint

fix: support keep-alive
  package.json
  pnpm-lock.yaml
  src/components/keep-alive/index.tsx
  src/hooks/use-update.ts
  src/layout/keep-aliver/data.ts
  src/layout/keep-aliver/index.tsx
  src/layout/keep-aliver/use-view.tsx
  src/pages/shelf/index.tsx
  src/router.tsx
  src/router/configure.tsx
  src/router/index.tsx
Due: eslint

v0.0.5
  package.json
Due: none

fix: 修复问题
  src/hooks/use-book/index.tsx
  src/layout/keep-aliver/data.ts
  src/layout/keep-aliver/index.tsx
  src/pages/detail/index.tsx
  src/router/index.tsx
Due: eslint

v0.0.6
  package.json
Due: none

fix: 修改 cdn
  src/components/image-show/index.tsx
Due: eslint

v0.0.7
  package.json
Due: none

fix: 处理 redirect
  public/sw.js
Due: eslint

fix: 替换
  src/pages/shelf/components/drawer/index.tsx
  src/pages/shelf/use-noticed.ts
Due: eslint

fix: 修复问题
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/components/nav-block/modal-content.tsx
Due: eslint

fix: 优化版本展示
  vite.config.js
Due: eslint

v0.0.8
  package.json
Due: none

fix: 优化提示
  src/pages/shelf/components/drawer/index.tsx
Due: eslint

v0.0.9
  package.json
Due: none

v0.0.10
  package.json
Due: none

fix: 排查问题
  src/pages/shelf/components/drawer/index.tsx
Due: eslint

v0.0.11
  package.json
Due: none

fix: use react 18
  package.json
  patches/antd-mobile+^5.9.5.patch
  pnpm-lock.yaml
  src/main.tsx
  src/pages/read/components/nav-block/index.tsx
Due: eslint

fix: stash
  package.json
  patches/antd-mobile+5.9.5.patch
  pnpm-lock.yaml
Due: none

v0.0.12
  package.json
Due: none

fix: add timestamp
  vite.config.js
Due: eslint

v0.0.16
  package.json
Due: none

v0.0.15
  package.json
Due: none

fix: 优化 touch 样式处理
  src/base.scss
  src/pages/read/components/nav-block/index.module.scss
  src/pages/search/index.module.scss
Due: stylelint

fix: 尝试修复问题
  package.json
  src/pages/read/components/nav-block/index.module.scss
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/components/nav-block/modal-content.tsx
  src/pages/shelf/components/drawer/index.tsx
  src/utils/text.ts
Due: eslint, stylelint

fix: 修复无法输入的问题
  src/pages/read/components/nav-block/index.module.scss
Due: stylelint

fix: 优化包体积
  package.json
  pnpm-lock.yaml
  src/components/keep-alive/index.tsx
  src/layout/keep-aliver/data.ts
  src/layout/keep-aliver/index.tsx
  src/router/index.tsx
  src/storage/base.ts
  vite.config.js
Due: eslint

v0.0.14
  package.json
Due: none

fix: 修复 useEffect 无法销毁的问题
  src/components/keep-alive/index.tsx
Due: eslint

v0.0.17
  package.json
Due: none

fix: update deps
  package.json
  patches/antd-mobile+5.9.5.patch
  patches/antd-mobile+^5.9.5.patch
  pnpm-lock.yaml
Due: none

v0.0.18
  package.json
Due: none

Revert "fix: update deps"
  package.json
  patches/antd-mobile+5.9.5.patch
  patches/antd-mobile+^5.9.5.patch
  pnpm-lock.yaml
Due: none

fix: update
  package.json
  patches/antd-mobile+5.9.5.patch
  patches/antd-mobile+^5.9.5.patch
  pnpm-lock.yaml
Due: none

v0.0.19
  package.json
Due: none

fix: 优化逻辑
  src/components/keep-alive/index.tsx
  src/hooks/use-update.ts
  src/layout/keep-aliver/index.tsx
Due: eslint

v0.0.20
  package.json
Due: none

fix: useMemo instead of useState
  src/components/keep-alive/index.tsx
Due: eslint

Path conditions:
  eslint: any of: **/*.{js,ts,tsx}
  stylelint: any of: **/*.scss
