Repository flasco/book-story: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

docs: add todo
  readme.md
Due: none

fix: use history.back
  package.json
  src/layout/container/index.tsx
  src/pages/origin/index.tsx
  src/pages/read/components/nav-block/index.tsx
  yarn.lock
Due: eslint

fix: 尝试修复
  src/layout/container/index.tsx
  src/pages/origin/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/utils/index.ts
Due: eslint

fix: 修复safari goBack无效的bug
  src/layout/container/index.tsx
  src/pages/origin/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/shelf/index.tsx
  src/utils/index.ts
Due: eslint

fix: 优化边界情况
  src/pages/read/index.tsx
Due: eslint

fix: 减少不必要的渲染
  src/pages/read/components/new-reader/index.tsx
Due: eslint

fix: cache由sw控制
  public/index-template.ejs
Due: none

fix: 添加version tag
  src/pages/shelf/components/drawer/index.m.scss
  src/pages/shelf/components/drawer/index.tsx
  webpack/config/webpack.base.js
  webpack/utils/index.js
Due: eslint, stylelint

fix: 修复bug
  src/pages/shelf/components/book-list/index.tsx
Due: eslint

fix: 修复bug
  src/hooks/index.ts
  src/pages/shelf/components/book-list/index.tsx
Due: eslint

fix: 升级版本
  webpack/package.json
  webpack/scripts/dev-webpack.js
  webpack/yarn.lock
Due: eslint

fix: 修复浏览后无法拖动呼出 item 菜单的bug
  src/pages/shelf/components/book-list/index.tsx
Due: eslint

docs: 修改readme
  readme.md
  todo.md
Due: none

docs: 修改readme
  readme.md
Due: none

fix: 优化ts定义书写
  src/hooks/use-switch/index.ts
  src/hooks/use-theme/index.tsx
Due: eslint

fix: 更新lock
  package.json
  yarn.lock
Due: none

feat: 添加缓存功能, 章节列表明显化缓存章节
  src/cache/chapter.ts
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.m.scss
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/hook/use-reader/index.ts
Due: eslint, stylelint

fix: change
  src/pages/detail/index.module.scss
  src/pages/read/components/nav-block/components/progress/index.module.scss
Due: stylelint

fix: 修复编译错误, 去除无用包
  .eslintrc.js
  package.json
  src/api/index.ts
  src/app.ts
  src/cache/books.ts
  src/cache/chapter.ts
  src/cache/list.ts
  src/defination/scss.d.ts
  src/definition/index.ts
  src/definition/scss.d.ts
  src/event.ts
  src/hooks/use-book/index.tsx
  src/initial.ts
  src/main.tsx
  src/pages/detail/index.tsx
  src/pages/read/api/index.ts
  src/pages/read/hook/use-reader/index.ts
  src/pages/search/index.tsx
  src/pages/shelf/components/book-list/index.tsx
  src/storage/base.ts
  src/storage/book.ts
  vite.config.js
  yarn.lock
Due: eslint

fix: 修复问题
  .eslintrc.js
  src/components/custom-badge/index.module.scss
  src/components/custom-badge/index.tsx
  src/components/drawer/index.tsx
  src/components/image-show/index.tsx
  src/components/touchable/index.tsx
  src/components/virtual-list/index.tsx
  src/config/index.ts
  src/event.ts
  src/hooks/use-theme/index.tsx
  src/layout/container/index.tsx
  src/layout/theme-wrapper/index.tsx
  src/main.tsx
  src/pages/detail/index.tsx
  src/pages/origin/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/index.tsx
  src/pages/read/components/nav-block/components/progress/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/components/new-reader/index.tsx
  src/pages/read/context/index.tsx
  src/pages/read/index.tsx
  src/pages/search/index.tsx
  src/pages/shelf/components/book-list/index.tsx
  src/pages/shelf/components/drawer/index.tsx
  src/pages/shelf/index.tsx
  src/router.tsx
  src/third-party/queue.ts
  vite.config.js
Due: eslint, stylelint

fix: 放弃使用vite, 目前 prod 模式下存在 bug, 暂时无法解决
  package.json
  vite.config.js
  yarn.lock
Due: eslint

fix: 优化queue写法
  src/pages/read/hook/use-reader/index.ts
  src/third-party/queue.ts
  webpack/yarn.lock
Due: eslint

fix: remove console.log
  src/third-party/queue.ts
Due: eslint

chore: 优化 multi context 下的使用方式
  src/layout/theme-wrapper/index.tsx
  src/router.tsx
  src/utils/index.ts
Due: eslint

fix: update sw.js
  public/sw.js
Due: eslint

fix: update sw, cache control
  public/sw.js
Due: eslint

fix: 删除调试语句
  src/pages/read/components/nav-block/index.tsx
Due: eslint

fix: 优化资源加载策略
  public/sw.js
Due: eslint

fix: 更换api
  src/api/index.ts
  src/components/image-show/api.ts
  src/hooks/use-book/index.tsx
  src/pages/detail/api/index.ts
  src/pages/origin/api/index.ts
  src/pages/read/api/index.ts
  src/pages/search/api/index.ts
Due: eslint

fix: 修订错误
  public/sw.js
  src/pages/detail/api/index.ts
  src/pages/search/api/index.ts
Due: eslint

fix: 修改参数
  src/api/index.ts
  src/hooks/use-book/index.tsx
Due: eslint

fix: 添加提示
  src/pages/shelf/index.tsx
  src/pages/shelf/use-noticed.ts
Due: eslint

feat: 添加重载本章的功能, 修复一些小问题
  src/cache/chapter.ts
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/hook/use-reader/index.ts
  src/pages/shelf/use-noticed.ts
Due: eslint

docs: 添加doc
  antd-mobile-upgrade.md
Due: none

fix: 自实现drawer
  package.json
  src/components/drawer/index.m.scss
  src/components/drawer/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/catalog-list/index.tsx
  src/pages/read/components/nav-block/components/catalog-drawer/index.tsx
  src/pages/read/components/nav-block/index.tsx
  src/pages/shelf/components/drawer/index.tsx
  src/pages/shelf/index.tsx
  yarn.lock
Due: eslint, stylelint

fix: 删除old version
  antd-mobile-upgrade.md
  package.json
  webpack/config/webpack.base.js
  yarn.lock
Due: eslint

fix: upgrade
  antd-mobile-upgrade.md
  package.json
  src/components/drawer/index.tsx
  src/layout/container/index.m.scss
  src/layout/container/index.tsx
  src/pages/detail/index.tsx
  src/pages/read/components/nav-block/components/progress/index.tsx
  src/pages/read/components/nav-block/index.m.scss
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/hook/use-drag/index.ts
  src/pages/read/hook/use-reader/index.ts
  src/pages/search/index.m.scss
  src/pages/search/index.tsx
  src/pages/shelf/components/book-list/index.m.scss
  src/pages/shelf/components/book-list/index.tsx
  src/pages/shelf/components/drawer/index.tsx
  src/pages/shelf/index.tsx
  src/pages/shelf/use-noticed.ts
  src/utils/index.ts
Due: eslint, stylelint

fix: merge
  public/sw.js
  src/api/index.ts
  src/cache/chapter.ts
  src/components/image-show/api.ts
  src/hooks/use-book/index.tsx
  src/layout/theme-wrapper/index.tsx
  src/pages/detail/api/index.ts
  src/pages/origin/api/index.ts
  src/pages/read/api/index.ts
  src/pages/read/components/nav-block/index.tsx
  src/pages/read/hook/use-reader/index.ts
  src/pages/search/api/index.ts
  src/pages/shelf/index.tsx
  src/pages/shelf/use-noticed.ts
  src/router.tsx
  src/third-party/queue.ts
  src/utils/index.ts
  yarn.lock
Due: eslint

fix: update dep
  .npmrc
  package.json
  vite.config.js
  yarn.lock
Due: eslint

Path conditions:
  eslint: any of: **/*.{js,ts,tsx}
  stylelint: any of: **/*.scss
